@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Arvo", serif;
  color: #ff8c00;
  margin: 7px;
}

h2 {
  font-family: "Arvo", serif;
  font-style: italic;
  margin: 20px;
}

p {
  margin: 10px 20px 0px 20px;
  font-size: 18px;
}

form {
  margin: 10px 20px 0px 20px;
  font-size: 18px;
}

input {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ff8c00;
  border-radius: 4px;
}

input {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ff8c00;
}

input[type="submit"] {
  border: 2px solid #ff8c00 !important;
  background-color: #ff8c00 !important;
}

input:read-only {
  border: 2px solid grey;
  background-color: lightgrey;
}

a {
  font-style: normal;
  color: #ff8c00;
  text-decoration: none;
  font-weight: 700;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #ff8c00;
}

.logo img {
  height: 32px;
  margin: 0 10px;
}

.tipografia {
  display: flex;
}

.tipografia div {
  margin: 10px 30px;
}

.avro {
  font-family: "Arvo", serif;
  margin-top: 13px !important;
}

.primeira {
  background-color: #ff8c00;
}

.segunda {
  background-color: #000000;
}

.terceira {
  background-color: #ffffff;
}

.paleta {
  display: flex;
  height: 200px;
}

.paleta * {
  width: 100px;
  height: 100px;
  margin: 10px 40px;
}

.paleta .square {
  border: solid 1px #dcdcdc;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: #ff8c00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.navbar .active {
  background-color: #ff8c00;
  color: white;
}

.carrinho {
  height: 18px;
}

button {
  background-color: #ff8c00;
  font-size: large;
  padding: 12px 20px;
  margin: 20px 20px;
  box-sizing: border-box;
  border: 2px solid #ff8c00;
  border-radius: 4px;
}
